{%extends 'admin_base.html'%}
{% block main %}
<!-- java script -->
<script>
    function checkPassword() {
        if (document.changePassword.new_password.value != document.changePassword.confirm_new_password.value) {
            alert('New password and confirm password did not match');
            //fucus function helps to focus confirm password field 
            document.changePassword.confirm_new_password.focus()
            return false;
        }
        return true
    }
</script>
<div class="card shadow m-2">
    <div class="card-body">
        <h4 class="p-2" style="border-bottom: 2px solid #F6635C !important; text-decoration: underline; color:orange;"> Admin
            Change Password</h4>
        <div class="continer-fluid ">
            <form method="POST" name="changePassword" onsubmit="return checkPassword()">
                <!-- csrf_token used for security purposes -->
                {%csrf_token%}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="currentpassword">Current Password<span style="color: red;">*</span></label>
                            <!-- Input string only -->
                            <input type="password" name="currentpassword" class="form-control"
                                placeholder="Enter Current Password" required>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="currentpassword">Enter New Password<span style="color: red;">*</span></label>
                            <!-- Input string only -->
                            <input type="password" name="new_password" class="form-control"
                                placeholder="Enter New Password">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="currentpassword">Confirm New Password<span style="color: red;">*</span></label>
                            <!-- Input string only -->
                            <input type="password" name="confirm_new_password" class="form-control"
                                placeholder="Confirm Password">
                        </div>
                    </div>
                </div>
                <br>
                <input type="submit" id="validateButton" value="Change Password" class=" m-2 btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% if showError == "no" %}
<script>
    alert("Password Successfully Updated");
    window.location = ("{% url 'logout' %}");
</script>
{% endif %}

{% if showError == "yes" %}
<script>
    alert("Something Went Wrong");
</script>
{% endif %}

{% if showError == "not" %}
<script>
    alert("Current Password is wrong. Try again !!!");
</script>
{% endif %}

{% endblock %}