{%extends 'empage_base.html'%}
{% block main %}
    <h2 text-left>Employee Dashboard</h2>
    <div class="row text-center">
        <div class="col-sm-12 p-2">
            <div class="card shadow">
                <div class="card-body" style="color: #9EB384;">
                    <h3>Welcome To TriveniMuncEMS</h3>
                    <h5 class="text-capitalize">{{request.user.first_name}} {{request.user.last_name}}</h5>

                </div>
            </div>
        </div>
    </div>
{% endblock %}